name: Renovate

on:
  push:
    branches:
      - "feature/**"
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Run Renovate
        uses: renovatebot/github-action@v41.0.5
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          renovate-args: "--autodiscover --log-level=debug"
